.formDiv {
  width: 50%;
  height: 300px;

  margin: auto;
  margin-top: 100px;
}

.formDiv form {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 50px;
  padding: 20px;
}

.formDiv input {
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 15px;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 10px;
}
input[type="submit"] {
  width: 60%;
  padding: 5px;
  border-radius: 5px;
  background-color: black;
  color: white;
  font-size: larger;
  cursor: pointer;
}
select {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 15px;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 10px;
}
.nav{
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    background-color: #7EC9F5;
color: rgb(122, 122, 122);
}
a{
    text-decoration: none;
    font-weight: bold;
    color: #EC00BC;
    
}
.nav h1{
    cursor: pointer;
}